*,
*::before,
*::after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.page {
  width: 100%;
  height: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  -ms-flex-direction: column;
  align-items: center;

  /* root font-size */
  font-size: 16px;

  background-color: #000;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  color: #fff;
}

.page__opaque-layout {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

/* base set of rules that control whether the opaque bckg shows */
.page__opaque-layout_active {
  visibility: visible;
  opacity: 0.6;
  width: 100%;
  height: 100%;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #000;
}

.page__opaque-layout_active:hover {
  cursor: pointer;
}

@media screen and (min-width: 320px) and (max-width: 430px) {
  .page {
    padding: 15px;
  }
}

@media screen and (min-width: 431px) and (max-width: 642px) {
  .page {
    padding: 15px;
    width: 100vw;
  }
}
