*,
*::before,
*::after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.page {
  width: 100%;
  height: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  -ms-flex-direction: column;
  align-items: center;

  /* root font-size */
  font-size: 16px;

  background-color: #000;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  color: #fff;
}

/* base set of rules that control whether the opaque bckg shows */
.page__opaque-layout_active {
  width: 100%;
  height: 100%;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #000;
}

.page__opaque-layout_active:hover {
  cursor: pointer
}

/* animation when bckg shows */
.page__opaque-layout-in {
  animation-name: gradual-in;
  animation-duration: 0.8s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
  opacity: 0.5; /* final opacity after keyF */
}

/* animation when bckg is removed */
.page__opaque-layout-out {
  animation-name: gradual-out;
  animation-duration: 800ms;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  opacity: 0; /* final opacity after keyF */
}

@keyframes gradual-in {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.50;
  }
}

@keyframes gradual-out {
  0% {
    opacity: 0.50;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0;
  }
}

@media screen and (min-width: 320px) and (max-width: 431px) {
  .page {
    padding: 15px;
  }
}

@media screen and (min-width: 431px) and (max-width: 642px) {
  .page {
    width: 100vw;
    height: 100vh;
  }
}
