.popup {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

.popup_opened, .popup__container {
  opacity: 1;
  visibility: visible;
  z-index: 1003;
  position: fixed;
  display: flex;
  top: 22%;
  left: calc(50% - 215px);
  flex-direction: column;
  margin: auto 0;
  width: 430px;
  height: 330px;
  background-color: #fff;
  justify-content: space-between;
  padding: 25px;
  border-radius: 10px;
}

.popup__close-button {
  background-color: transparent;
  z-index: 1004;
  width: auto;
  height: auto;
  border: none;
  font-size: 2.5rem;
  font-weight: 500;
  position: absolute;
  top: -50px;
  right: -50px;
}

.popup__title {
  font-weight: 900;
  font-size: 1.5rem;
  color: #000;
  margin: 0;
  align-self: flex-start;
  margin-top: 10px;
}

.popup__input {
  border: none;
  outline: none !important;
  border-bottom: 1px solid #c4c4c4;
  padding-bottom: 10px;
  width: 100%;
}

.popup__set {
  border: none;
  padding: 0;
  margin: 0;
  height: 0;
}

.popup__span {
  width: auto;
  height: auto;
  font-size: 1em;
}

.popup__span_error-msg {
  color: red;
  padding: 0;
  margin: 0;
}

.popup__button {
  width: 100%;
  height: 20%;
  background-color: #000;
  border: 1px solid #c4c4c4;
  border-radius: 2px;
  color: #fff;
}

.popup__button_disabled {
  width: 100%;
  height: 20%;
  color: #000;
  opacity: 0.20;
  background-color: #fff;
}

.popup__button_hover:hover {
    opacity: 0.8;
    cursor: pointer;
}

.popup__button_disabled:hover {
  cursor: not-allowed;
}

.popup__close-button:hover {
  cursor: pointer;
  opacity: 0.6;
}

@media screen and (min-width: 320px) and (max-width: 431px) {
  .popup_opened, .popup__container {
    /* 50px of padding */
    width: calc(100% - 50px);
    /* allocate to center of page */
    left: calc(50% - 44%);
  }

  .popup__close-icon {
    width: 23px;
    height: 23px;
  }

  .popup__close-button {
    top: -60px;
    right: 0;
  }

  .popup__input {
    width: 100%;
  }

  .popup__button {
    width: 100%;
  }
}
