.visualize-img {
  display: none;
}

.visualize-img_opened {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  -ms-flex-direction: column;
  align-items: center;
  position: fixed;
  z-index: 1010;
  top: 8%;
}

.visualize-img_opened:hover {
  cursor: pointer;
}

.visualize-img__container {
  width: auto;
  height: 75vh;
  position: relative;
  display: flex;
  flex-direction: column;
}

.visualize-img__image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: relative;
}

.visualize-img__close-button {
  background-color: transparent;
  width: auto;
  height: auto;
  border: none;
  color: #fff;
  position: relative;
  right: 0;
  top: -10px;
  align-self: flex-end;
}

.visualize-img__close-icon:hover {
  cursor: pointer;
  opacity: 0.7;
}

.visualize-img__img-name {
  width: fit-content;
  font-size: 12px;
  margin: 0;
  margin-top: 10px;
  margin-bottom: calc(100% - 1px);
}

.visualize-img__image:hover,
.visualize-img__img-name:hover {
  cursor: default;
}

@media screen and (min-width: 320px) and (max-width: 431px) {
  .visualize-img__close-button {
    right: 5%;
  }
  .visualize-img__close-icon {
    width: 25px;
    height: 25px;
  }
}

@media screen and (min-width: 705px) and (max-width: 715px) {
  .visualize-img__close-button {
    top: -10px;
    right: 0;
  }
}
