.visualize-img {
  display: none;
}

.visualize-img_opened {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  -ms-flex-direction: column;
  align-items: center;
  z-index: 9999;
  position: fixed;
  top: 8%;
}

.visualize-img__container {
  width: auto;
  height: 75vh;
  position: relative;
}

.visualize-img__image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* .visualize-img__close-icon-container {
  display: flex;
  width: 100%;
  height: 100px;
  outline: 1px solid lime;
} */

.visualize-img__close-button {
  background-color: transparent;
  width: auto;
  height: auto;
  border: none;
  font-size: 2.5rem;
  font-weight: 500;
  color: #fff;
  position: absolute;
  left: 100%;
  top: -7%;
}

.visualize-img__close-icon:hover {
  cursor: pointer;
  opacity: 0.7;
}

.visualize-img__img-name {
  font-size: 12px;
  margin: 0;
}

@media screen and (min-width: 320px) and (max-width: 431px) {
  .visualize-img__close-button {
    top: 20%;
    left: 90%;
  }
}